<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastrar Turma</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body style="background: var(--bs-gray-200);">
	{% include "navbar.html" %}
	{% include "toast.html" %}

	{% block content %}
	<div class="container py-5">
		<h1>Adicionar Turma</h1>
		<form action="{{ url_for('adicionar_turma') }}" method="post">
			<div class="mb-3">
				<label for="nome" class="form-label">Nome:</label>
				<input type="text" class="form-control" id="nome" name="nome" required>
			</div>
			<div class="mb-3">
				<label for="periodo" class="form-label">Período:</label>
				<input type="text" class="form-control" id="periodo" name="periodo" required>
			</div>
			<button type="submit" class="btn btn-primary">Adicionar</button>
		</form>
	</div>
	{% endblock %}

	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
