<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Adicionar Nota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body style="background: var(--bs-gray-200);">
    {% include "navbar.html" %}
    {% include "toast.html" %}

    {% block content %}
    <div class="container py-5 px-4 px-sm-0">
        <h1 class="fw-bold text-center">Adicionar Nota</h1>
		<p>
        <form action="{{ url_for('editar_360', id360=id360, idgrupo=idgrupo, idmateria=idmateria) }}" method="POST">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 bg-white p-4 rounded shadow">
                    <div class="mb-3">
                        <label for="idtipo_avaliacao" class="form-label">Tipo de Avaliação:</label>
                        <select name="idtipo_avaliacao" id="idtipo_avaliacao" class="form-select">
                            {% for avaliacaos in tipo_avaliacao %}
                            {% if avaliacaos[0] == avaliacao[7] %}
                            <option value="{{ avaliacaos[0] }}" selected>{{ avaliacaos[1] }}</option>
                            {% else %}
                            <option value="{{ avaliacaos[0] }}">{{ avaliacaos[1] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <h3 class="mt-4">Habilidades</h3>

			<div class="mb-3">
				<label for="pComunicacao" class="form-label">Comunicação Oral e Escrita:</label>
				<input type="text" id="pComunicacao" name="pComunicacao" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[1] }}">
			</div>

			<div class="mb-3">
				<label for="pCognitivo" class="form-label">Cognitivo:</label>
				<input type="text" id="pCognitivo" name="pCognitivo" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[2] }}">
			</div>

                    <h3 class="mt-4">Atitudes</h3>

			<div class="mb-3">
				<label for="pAutogestao" class="form-label">Autogestão:</label>
				<input type="text" id="pAutogestao" name="pAutogestao" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[3] }}">
			</div>

			<div class="mb-3">
				<label for="pAutonomia" class="form-label">Autonomia:</label>
				<input type="text" id="pAutonomia" name="pAutonomia" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[4] }}">
			</div>

			<div class="mb-3">
				<label for="pProtagonismo" class="form-label">Protagonismo:</label>
				<input type="text" id="pProtagonismo" name="pProtagonismo" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[5] }}">
			</div>
			
			<div class="mb-3">
				<label for="pInteracao" class="form-label">Interação:</label>
				<input type="text" id="pInteracao" name="pInteracao" step="0.1" pattern="\d+(\.\d{1,2})?" title="Por favor, insira um número de 0 a 10 com casa decimal separada por '.'"  class="form-control" value="{{ avaliacao[6] }}">
			</div>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input type="submit" class="btn btn-primary" value="Salvar">
				<button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('detalhes', idAluno=idAluno, idgrupo=idgrupo, idmateria=idmateria) }}'">Voltar</button>
			</div>
			<br>
			</form>
			</div>
			{% endblock %}
			
			<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
			
			</body>
			</html>
			
