<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Editar Turma</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
  {% include "navbar.html" %}
  {% include "toast.html" %}

  <div class="container py-5">
    {% block content %}
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center mb-4">Editar Turma</h1>
            <form action="{{ url_for('editar_turma', turma_id=turma[0]) }}" method="post">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{ turma[1] }}" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="periodo" class="form-label">Período:</label>
                <input type="text" id="periodo" name="periodo" value="{{ turma[2] }}" class="form-control" required>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</body>

</html>
