<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="toast align-items-center text-white border-0 
            {% if category == 'error' %}
            bg-danger
            {% elif category == 'warning' %}
            bg-warning
            {% else %}
            bg-success
            {% endif %}"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="flex-grow-1 p-3">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, { delay: 6000 })
        });
        toastList.forEach(toast => toast.show());
    </script>
</body>
</html>
