<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Turmas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body style="background: var(--bs-gray-200);">
    {% include "navbar.html" %}
    {% include "toast.html" %}

    {% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Lista de Turmas</h1>
            <button class="btn btn-primary" onclick="location.href='{{ url_for('adicionar_turma') }}'">
                <i class="fa fa-plus"></i> Adicionar Turma
            </button>
        </div>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Período</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in turmas %}
                <tr>
                    <td>{{ turma[1] }}</td>
                    <td>{{ turma[2] }}</td>
                    <td>
                        <button class="btn btn-info btn-sm" onclick="location.href='{{ url_for('ver_alunos', turma_id=turma[0]) }}'">Ver Alunos</button>
                        <button class="btn btn-primary btn-sm" data-id="{{ turma[0] }}"
                            onclick="location.href='{{ url_for('editar_turma', turma_id=turma[0]) }}'">Editar</button>
                        <button class="btn btn-danger btn-sm" data-id="{{ turma[0] }}"
                            onclick="location.href='{{ url_for('deletar_turma', turma_id=turma[0]) }}'">Deletar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
